#tabsDiv {
  text-align: center;
  margin: 10px;
  background-color: aliceblue;
  width: 500px;
  margin: auto;
  padding: 0px 10px;
  border-radius: 4px;
  border: solid 1px rgb(209, 209, 209);
}

#urlInput {
}

#checkboxInput {
}

#container {
	
}

.urlBox {
  background-color: white;
  width: 200px;
  overflow: auto;
  border-radius: 4px;
  border: solid grey 1px;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
}

.urlBox:hover {
  background-color: rgb(243, 243, 243);
}
